{% load static %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Klapp Edu Seja Bem Vindos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
</head>

<body>
  <div class="container">
    <header>
      <!-- <div>
      <h1>Klapp Edu</h1>
      <p>Uma Plataforma gamificada para nivelar seus conhecimentos</p>
    </div> -->
      <h2>Logo</h2>
      <nav>
          <ul>
            <li>
              <a href="#">Sobre Nós</a>
            </li>
            <li>
              <a href="/login/">Área do Aluno</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
          </ul>
      </nav>
    </header>
    <!-- <hr> -->
    <!-- <img src="{% static 'img/books.jpg' %}" alt="Description of your image"> -->

    <div class="banner">
      <div>
        <h1>Uma Plataforma gamificada para nivelar seus conhecimentos</h1>
        <a class="sign-in-button" href="/login/" >Fazer Login</a>
        <a class="sign-up-button">Cadastrar</a>
      </div>
    </div>
    <div class="low-section">
      <div class="left-box">
        <h2>Alguma coisa aqui</h2>
        <p>Aqui vai ter alguma coisa para setar para o usuário talvez uma instrução ou algo dessa natureza.</p>
      </div>
      <div class="right-box">
        <div class="left-part">
          <h1>01</h1>
          <p>Alguma coisa</p>
        </div>
        <div class="right-part">
          App desenvolvido por:
        </div>
        <div class="left-part">
          <h1>02</h1>
          <p>Outra coisa</p>
        </div>
        <div class="right-part">
          <h1>Logo1</h1>
          <h1>Logo2</h1>
        </div>
      </div>
    </div>
  </div>
</body>

</html>