{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klapp Edu</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}" />


</head>

<body>
    <!-- <div class="position-absolute top-50 start-50 translate-middle col-4" style="background-color:#0abab5" >

    
    <h2>Login</h2>
    
    <form >
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Login:</label>
            <i class="bi bi-person-circle col-1"></i>
            <input type="email" class="form-control" id="email" placeholder="" name="email">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control mb-3" id="pwd" placeholder="" name="pswd">
        </div>
        <a href="home" class="btn btn-success">Entrar</a>
    </form>
    <p>Você não é cadastrado? Faça o cadastro <a href="cadastro">aqui</a>.</p>
</div> -->
    <div class="container">
        <div>
            <!-- <div class="translate-middle col-4" style="background-color:#0abab5">


                <h2>Cria uma conta</h2>
                <p>Você precisa criar uma conta para participar das atividades do Klapp Edu</p>
                <form>
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Login:</label>
                        <i class="bi bi-person-circle col-1"></i>
                        <input type="email" class="form-control" id="email" placeholder="" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password:</label>
                        <input type="password" class="form-control mb-3" id="pwd" placeholder="" name="pswd">
                    </div>
                    <a href="home" class="btn btn-success">Entrar</a>
                </form>
                <p>Você não é cadastrado? Faça o cadastro <a href="cadastro">aqui</a>.</p>
            </div> -->
            <h1>Ei, seja bem-vindo ao Klapp Edu</h1>
            <form>
                <div>
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="E-mail">
                    <div id="emailHelp" class="form-text">Não compartilharemos os seus dados com nínguem.</div>
                </div>
                <div>
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Senha">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            <p>Ainda não possui um cadastro? <a href="/login/cadastro">Me cadastrar</a></p>
        </div>
        <div class="login-img"></div>
    </div>
</body>

</html>